@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
* {
    font-family: "Poppins", sans-serif;
    font-size: 500;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.messageInstance {
    width: calc(100vw - 360px);
    background-color: blanchedalmond;
    margin-top: 20px;
    padding: 10px;
}

.Messages {
    height: 87vh;
    overflow-y: scroll;
}

.Messages::-webkit-scrollbar {
    display: none;
}

.Messages {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.MessagesParent {
    max-height: 100vh;
}
