
*{
    padding: 0;
    margin: 0;
}

.login-container input{
    display: block;
}

.container-fluid span.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
}

.login-container nav {
    height: 80px;
}